:root {
  font-family: Helvetica, sans-serif;
  color: black;
  background: linear-gradient(
    to bottom,
    rgba(85, 236, 247, 255),
    rgb(0, 0, 167)
  );
  min-height: 100vh;
}

#logo {
  margin: 5px;
  width: 50px;
  height: auto;
}

.body-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
  position: relative;
  width: 1450px;
}

.column-container {
  width: 100%;
  position: relative;
  margin: auto;
  display: flex;
  gap: 20px;
  min-height: 600px;
}

.row-container {
  width: 100%;
  border: black 1px solid;
  border-radius: 15px;
  min-height: 100px;
  background: white;
  position: relative;
}

.section-header {
  position: absolute;
}

.post-container {
  float: left;
  width: calc(25% - 16px);
  height: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.posts {
  float: left;
  border: solid black 2px;
  width: 100%;
  height: 600px;
  border-radius: 15px;
  overflow: scroll;
  background: white;
}

.post-button {
  border: solid 1px black;
  height: 80px;
  width: 100%;
  border-radius: 15px;
}

.icon-bar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  align-content: center;
}

.stats {
  float: left;
  border: solid black 2px;
  width: calc(50% - 16px);
  min-height: 500px;
  border-radius: 15px;
  background: white;
}

.navbar {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  height: 50px;
  width: 100%;
  border-radius: 15px;
  background: linear-gradient(to right, red, yellow);
}

.news-ticker {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.ticker-bar {
  width: 100%;
  border: black 1px solid;
  border-radius: 15px;
  min-height: 100px;
  background-color: #333;
  color: white;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticker-content {
  display: flex;
  white-space: nowrap;
  animation: tickerMove 20s linear infinite;
}

.ticker-item {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
}

@keyframes tickerMove {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-175%);
  }
}
