:root {
  font-family: Helvetica, sans-serif;
  color: black;
  background: linear-gradient(
    to bottom,
    rgb(87, 170, 225),
    rgb(5, 76, 134)
  );
  min-height: 100vh;
}

#logo {
  margin: 5px;
  width: 50px;
  height: auto;
}

.body-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
  position: relative;
  width: 100%;
  
}

.column-container {
  width: 100%;
  position: relative;
  margin: auto;
  display: flex;
  gap: 20px;
  min-height: 500px;
}

.row-container {
  width: 100%;
  border: black 1px solid;
  border-radius: 15px;
  min-height: 100px;
  background: white;
  position: relative;
}

.section-header {
  position: absolute;
}

.post-container {
  float: left;
  width: calc(25% - 16px);
  height: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.posts {
  float: left;
  border: solid black 2px;
  width: 100%;
  height: 450px;
  border-radius: 15px;
  overflow: scroll;
  background: white;
}

.post-button {
  border: solid 1px black;
  height: 80px;
  width: 100%;
  border-radius: 15px;
}

.icon-bar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  align-content: center;
}

.stats {
  float: left;
  border: solid black 2px;
  width: 100%;
  height: 550px;
  border-radius: 15px;
  background: white;
}

.navbar {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  height: 75px;
  width: 100%;
  border-radius: 15px;
  border: solid black 1px;
  justify-content: center;
  background: linear-gradient(to right, rgb(14, 27, 71), rgb(47, 32, 89));
}

.news-ticker {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.ticker-bar {
  width: 100%;
  border: black 1px solid;
  border-radius: 15px;
  min-height: 100px;
  background: linear-gradient(to right, rgb(47, 32, 89), rgb(14, 27, 71));
  color: white;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticker-content {
  display: flex;
  white-space: nowrap;
  animation: tickerMove 25s linear infinite;
}

.ticker-item {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
}

@keyframes tickerMove {
  from {
    transform: translateX(110%);
  }
  to {
    transform: translateX(-210%);
  }
}