:root {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.body-container {
  width: 100%;

}

.column-container {
  width: 100%;
  position: relative;
  margin: auto;
  display: flex;
  gap: 20px;
}

.pane {
  float: left;
  border: solid black 2px;
  width: calc(33.33% - 16px);
  min-height: 500px;
}
